xml/files/people.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="people.eldar.com"
	xmlns:tns="people.eldar.com" elementFormDefault="qualified">

	<element name="people">
		<complexType>
			<sequence>
				<element name="person" type="tns:person" minOccurs="1"
					maxOccurs="unbounded"></element>
			</sequence>
		</complexType>
	</element>

	<!-- define a type -->
	<complexType name="person">
		<sequence>
			<element name="name" type="string"></element>
			<element name="id" type="int"></element>
			<element name="age" type="int"></element>
		</sequence>
	</complexType>

</schema>